.footer {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;

    background-color: var(--colorFooter);
}

.footerContent {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footerContentContainer1,
.footerContentContainer2 {
    display: flex;
    flex-direction: row;
}

.footerContentContainer1 div,
.footerContentContainer2 div {
    padding: 3rem;
    display: flex;
    flex-direction: column;
}

.footerContent h1, 
.footerContent h2,
.footerContent a {
    font-family: var(--fontFamily);
    color: #fff;
}

.footerContent h1 {
    font-size: 28px;
    font-weight: 600;
}

.footerContent h2 {
    font-weight: 400;
    font-size: 18px;
}

.footerContent a {
    padding: 0.75rem 0;
    font-size: 12px;
    /* color: var(--colorText); */
}

.footerContent h2 {
    padding-bottom: 1rem;
}

.footerContentBackToTop {
    align-items: center;
}

.footerContentBackToTop a {
    width: 40px;
    border-radius: 30px;
    border-width: 0px;
    background: var(--colorButton);

    display: flex;
    justify-content: center;
}

.footerCopyright {
    display: flex;
    justify-content: center;
    padding: 3rem;
    color: #fff;
    font-family: var(--fontFamily);
}

@media screen and (max-width: 860px) {
    .footerContentContainer1, .footerContentContainer2 {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 500px) {
    .footerContent {
        flex-direction: column;
    }
    .footerContentContainer1 div,
    .footerContentContainer2 div {
        padding: 1rem;
        display: flex;
        flex-direction: column;
    }

}