*:not(dialog) {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    background-color: var(--colorBG);
    color: var(--colorText);
}

h1 {
    font-family: 'Rubik';
}


a {
    color: unset;
    text-decoration: none;
}

.button {
    margin: 0 1rem;
    padding: 0.75rem 1.5rem;
    color: #fff;
    font-family: var(--fontFamily);
    font-size: 1.5rem;
    line-height: 1.5;
    border: none;
    cursor: pointer;
    outline: none;
    background: var(--colorButton);
    border-radius: 5px;
    font-weight: 500;
}

.gradientText {
    background: var(--gradientText);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.sectionPadding {
    padding: 4rem 6rem;
}

.sectionMargin {
    margin: 4rem 6rem;
}

.scaleOnHover {
    transition: transform .2s;
}

.scaleOnHover:hover {
    transform: scale(1.1);
}

.scale-up-center {
	-webkit-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.scale-up-center:hover {
    transform: scale(1.1);
}

@media screen and (max-width:700px) {
    .sectionPadding {
        padding: 4rem;
    }

    .sectionMargin {
        margin: 4rem;
    }
}

@media screen and (max-width:550px) {
    .sectionPadding {
        padding: 4rem 2rem;
    }

    .sectionMargin {
        margin: 4rem 2rem;
    }
}