*:not(dialog) {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    scroll-margin: 10vh;
}

body {
    background-color: var(--colorBG);
    color: var(--colorText);
}

h1 {
    font-family: 'Rubik';
}

.gradient-background {
    background: rgb(18,131,255);
    background: radial-gradient(circle at 100vw 0vh, rgba(18,131,255,0.4) 0vw, transparent 40vw), radial-gradient(circle at 0vw 100vh, rgba(18,131,255,0.2) 0vw, transparent 30vw);
    background: -webkit-radial-gradient(circle at 100vw 0vh, rgba(18,131,255,0.4) 0vw, transparent 40vw), -webkit-radial-gradient(circle at 0vw 100vh, rgba(18,131,255,0.2) 0vw, transparent 30vw);
    background: -o-radial-gradient(circle at 100vw 0vh, rgba(18,131,255,0.4) 0vw, transparent 40vw), -o-radial-gradient(circle at 0vw 100vh, rgba(18,131,255,0.2) 0vw, transparent 30vw);
a {
    @apply text-primary-500 font-semibold;
}

a {
    color: unset;
    text-decoration: none;
}

.button {
    margin: 0 1rem;
    padding: 0.75rem 1.5rem;
    color: #fff;
    font-family: var(--fontFamily);
    font-size: 1.5rem;
    line-height: 1.5;
    border: none;
    cursor: pointer;
    outline: none;
    background: var(--colorButton);
    border-radius: 5px;
    font-weight: 500;
}

.gradientText {
    background: var(--gradientText);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.scaleOnHover {
    transition: transform .2s;
}

.scaleOnHover:hover {
    transform: scale(1.1);
}

.scale-up-center {
	-webkit-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.scale-up-center:hover {
    transform: scale(1.1);
}