.signIn, 
.signInFormContent, 
.signInForm {
    display: flex;
    flex-direction: column;
}

.signInTitle {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.signInRegisterLink {
    font-family: var(--fontFamily);
    font-size: 12px;
    color: var(--colorText);
    padding: 0.5rem 1rem;
}

.signInFormSubmit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}