.socials {
    padding: 2rem;
}
.socialsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex;
}

.socialItem {
    margin: 1rem 3rem;
}

.socialItem img {
    height: 30px;
    width: auto;
}