.popupOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(8px);

    display: flex;
    justify-content: center;
    align-items: center;
}

.popupContainer {
    background-color: var(--colorPopUp);

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
}

.popupContent {
    padding: 1rem 5rem 5rem;
}

.popupClose {
    cursor: pointer;
    text-align: center;

    margin: 0.75rem 0.75rem 0 0;
}

/* Pop Up Content */

.popUpTitle h1 {
    font-family: var(--fontFamily);
    font-size: 32px;
    color: var(--colorText);

    margin: 0 0 0.5rem 0.5rem;
}

.popUpInput input {
    padding: 0.75rem;
    margin: 1rem 0;

    background-color: var(--colorAbout);
    border: 0px;
    color: var(--colorText);

    min-width: 400px;
}

.popUpInput input:autofill,
.popUpInput input:-webkit-autofill,
.popUpInput input:autofill:focus,
.popUpInput input:-webkit-autofill:focus,
.popUpInput input:autofill:active,
.popUpInput input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0px 100px var(--colorAbout) inset;
    -webkit-text-fill-color: var(--colorText);
}

.popUpInput * {
    font-family: var(--fontFamily);
    font-size: 18px;
    font-weight: 600;
}

.popUpInput *:focus {
    outline: none;
}

.popUpInput input::placeholder {
    color: var(--colorText);
}