.projects {
    margin-top: 3rem;
    margin-bottom: 5rem;
}

.projectsTitle {
    background: rgb(3,22,46);
    background: linear-gradient(90deg, rgba(3,22,46,1) 0%, rgba(0,40,83,1) 50%, rgba(3,22,46,1) 100%);
    padding: 2rem;
    text-align: center;
    margin-bottom: 4rem;
}

.projectsTitle p {
    font-family: var(--fontFamily);
    font-size: 56px;
    font-weight: 700;
    line-height: 70px;
}

.projectsContent {
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 1450px){
    .projectsContent {
        flex-direction: column;
    }

    .projectsContent .left {
        margin-right: 15%;
        padding-left: 15%;
        padding-right: 5%;
    }

    .projectsContent .right {
        margin-left: 15%;
        padding-right: 15%;
        padding-left: 5%;
    }
}

@media screen and (max-width: 750px){
    .projectsContent .projectText {
        font-size: 20px;
        line-height: 36px;
    }
}

@media screen and (max-width: 550px){
    .projectsContent .project {
        margin-bottom: 2rem;
    }
    .projectsContent .left {
        margin-right: 5%;
    }

    .projectsContent .right {
        margin-left: 5%;
    }

    .projectsContent .projectTitle {
        font-size: 34px;
        
    }

    .projectsContent .projectText {
        font-size: 18px;
        line-height: 32px;
    }

    .projects {
        margin-bottom: 2rem;
    }

    .projectsTitle {
        margin-bottom: 3rem;
    }
}

@media screen and (max-width: 550px){
    .projectsContent .left {
        padding-left: 10%;
    }

    .projectsContent .right {
        padding-left: 10%;
    }
}